In [9]:
import pandas as pd

In [11]:
xx = pd.read_csv('./datas/out/6paras1k.csv',header=None)
xx.head()

,0,1,2,3,4,5,6
0,48.390419,344.470097,181.781057,0.048687,1.523789,0.437709,4219.068843
1,41.978688,312.388331,151.120070,0.045657,1.094866,0.055575,4213.945765
2,42.986822,365.480508,148.789543,0.047071,0.817207,0.127871,4244.257314
3,51.092217,275.274131,160.879149,0.041212,0.937388,0.104264,4246.391930
4,51.959212,296.787786,215.573690,0.055152,1.559014,0.244429,4208.822686

In [18]:
xx['duplicated'] = xx.duplicated(keep=False)

In [20]:
print(xx[xx['duplicated']==True])

Empty DataFrame
Columns: [0, 1, 2, 3, 4, 5, 6, duplicated]
Index: []

In [21]:
dupli = xx.duplicated()
if not dupli.any():
    print('无重复行')

无重复行

In [24]:
# 测试
data = [[0,1,2,3,4,5],[1,2,3,4,5,6],[0,1,2,3,4,5]]
df = pd.DataFrame(data)

In [25]:
df.head()

   0  1  2  3  4  5
0  0  1  2  3  4  5
1  1  2  3  4  5  6
2  0  1  2  3  4  5

In [26]:
df.duplicated()

0    False
1    False
2     True
dtype: bool

In [27]:
df.duplicated(keep=False)

0     True
1    False
2     True
dtype: bool